@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-family: passion one, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 10vw;
}
header h1:hover{
    text-decoration: underline;
}    
a#autor{
    
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
#autor:hover{
    text-decoration: underline;
}
main{
    font-family: Sriracha, Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 1px solid black;
    margin: 20px;
}
p{
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p#fundo{
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
}
section{
    background-color: white;
    color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}
section#fundoimg1{
    background-color: black;
    border-radius: 1px solid black;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section#fundoimg2{
    background-color: black;
    border-radius: 1px solid black;
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}